<%= form_with(model: [definition, definition.comments.build]) do |form| %>
  <div class="mb-3">
    <%= form.text_area :content, class: "form-control" %>
  </div>

  <%= form.submit "Valider", class: "btn btn-light", class: "button" %>
<% end %>
