<div class="container" id="container-definitions">
  <div class="row">
    <div class= "d-flex mt-4">
      <h2 class="">Las Definicionas</h2>
      <div class="">
        <button type="button" class="btn btn-plus" data-bs-toggle="modal" data-bs-target="#createDefinitionModal">
        <i class="fas fa-plus" style="color: #4B7F52;"></i>
        </button>
        <%= render "definitions/definition_create", definition: @definition %>
      </div>
    </div>
    <div id="def-list" class="col-md-8 col-12">
      <%= render "definitions/definitions", definitions: @definitions %>
    </div>


  </div>
</div>
