<div class="container" id="container-definitions">
  <h2 class="mt-4">Las Definicionas de la Semana</h2>
  <div>
    <ul>
      <%= render "definitions/definitions", definitions: @definitions %>
  </div>



</div>
