.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(296.42deg,#8FB996 28.15%,#4B7F52 69.57%);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#avatar-navbar-div {
//   border-radius: 50%;
// background: linear-gradient(315deg, #3245aa, #3c52ca);
// box-shadow:  -5px -5px 0px #161f4c,
//              5px 5px 0px #5a7bff;
border-radius: 67px;
background: linear-gradient(315deg, #4B7F52, #8FB996);
box-shadow:  -5px -5px 0px #4B7F52,
             5px 5px 0px #8FB996;
}
